node_modules
**/node_modules
dist
**/dist
.angular
**/.angular
.env
**/.env
*.sqlite
*.sqlite-*
*.db
*.db-*
coverage
**/coverage
.nyc_output
.git
.git/**
.vscode
**/.vscode
.idea
**/.idea
*.swp
*.swo
*.tmp
*.log
